<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="/static/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/static/easyui/themes/icon.css"/>
    <script type="text/javascript" src="/static/jQuery/jquery.js"></script>
    <script type="text/javascript" src="/static/easyui/jquery.easyui.min.js"></script>
</head>

<body class="easyui-layout">
<div region="north" style="height:80px;">
    <!-- 页面头部 -->
    <h1>volarpad</h1>
</div>

<div region="west" split="true" style="width:220px" title="导航菜单">
    <li>
        <span>Folder</span>
        <ul>
            <li>
                <span>Sub Folder 1</span>
                <ul>
                    <li><span><a href="#">File 11</a></span></li>
                    <li><span>File 12</span></li>
                    <li><span>File 13</span></li>
                </ul>
            </li>
            <li><span>File 2</span></li>
            <li><span>File 3</span></li>
        </ul>
    </li>
    <li><span>File21</span></li>
</div>

<div region="center">
    页面主体内容区
</div>

<div region="east" style="width:100px;">
    页面右侧
</div>

<div region="south">
    页面底部
</div>
</body>
</html>